{% extends "base.html" %}
{% block conteudo %}
    <h2>Cadastrar Nova Disciplina</h2>
    <form method="post">
        <label>Nome da Matéria:</label>
        <input type="text" name="nome" required placeholder="Ex: Matemática, História...">

        <label>Professor Responsável:</label>
        <select name="professor_id">
            {% for prof in professores %}
                <option value="{{ prof.id }}">{{ prof.nome }}</option>
            {% endfor %}
        </select>

        <button type="submit">Salvar Disciplina</button>
    </form>
    <br>
    <a href="{{ url_for('dashboard') }}">Voltar</a>
{% endblock %}